:root{
  --primary-color: #1976D2;
  --pimary-color-dark: #0d47a1;
  --secondary-color: #D21976;
  --tertiary-color: #76D219;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

    font-family: 'Quicksand', sans-serif;
}


/* -------------------------------------------------------------------------------------------- */
/*------------ Navbar ------------*/
/* -------------------------------------------------------------------------------------------- */
.navbar-link{
  font-size: 1.2em;
}


/* -------------------------------------------------------------------------------------------- */
/*------------ Landing Page ------------*/
/* -------------------------------------------------------------------------------------------- */

.landing-main{
  border-radius: 10px;
}

.landing-title{
  padding-top: 15px;
}

.inputfile-btn{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile-btn + label {
  font-size: 1.05em;
  font-weight: 400;
  color: white;
  background-color: var(--primary-color);
  display: inline-block;
  padding: 15px;
  
  border-radius: 3px;
}
.inputfile-btn:focus + label,
.inputfile-btn + label:hover {
  background-color: var(--pimary-color-dark);
}
.inputfile-btn + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile-btn:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.landing-note{
  font-weight: 600;
}

/* -------------------------------------------------------------------------------------------- */
/*------------ Dashboard ------------*/
/* -------------------------------------------------------------------------------------------- */

.convoCard{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* transition: 0.3s; */
}
.convoCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.convoCard-content {
  padding: 2px 16px;
}


/* -------------------------------------------------------------------------------------------- */
/*------------ Functions Modal ------------*/
/* -------------------------------------------------------------------------------------------- */

.functionModal-frame{
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);  
  opacity: 1;
  visibility: visible;
}